$prefix: "../../../assets/img/";
$bg__coming-img: $prefix+"comingsoon.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg"; 
$bg__error-img: $prefix+"error.jpg"; 
$bg__index-img: $prefix+"index/index-s1.jpg";
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__seeds-img: $prefix+"seeds/seeds-s1.jpg";
$bg__tips-img: 
    $prefix+"tips/tips-s1.jpg",
    $prefix+"tips/tips-s2.jpg",
    $prefix+"tips/tips-s3.jpg",
    $prefix+"tips/tips-s4.jpg";
$bg__tools-img: 
    $prefix+"tools/tools-s1.jpg",
    $prefix+"tools/tools-s2.jpg";
$section__classes:
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "seeds",
    "tips",
    "tools";
$section__images:
    $bg__coming-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__seeds-img,
    $bg__tips-img,
    $bg__tools-img;
$color__shadow: #333;
$footer__height: 41px;
$text-shadow: 1px 1px 3px $color__shadow; 